body {
  font-family: "Sora", sans-serif;
  text-align: center;
  margin: 0;
}
.dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(51, 44, 44);
  color: white;
  transition: 0.6s;
  height: 100%;
}
.dark .text-field {
  background-color: #fff;
}
.dark .button-theme {
  background-color: #fff;
}
.light {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: rgb(124, 113, 113);
  transition: 0.6s;
}
.data-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 30rem;
  padding: 0 1rem;
}
.landing {
  height: 100vh;
}
.landing-div {
  padding-top: 10rem;
}
.message {
  color: red;
}
.links {
  text-decoration: none;
}
.auths {
  border-top: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 30rem;
  width: 30rem;
  padding: 0 1rem;
  margin: 1rem;
}
.upload {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
}
.dash-Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: baseline;
  border-right: 1px solid lightgrey;
  padding-right: 1rem;
}
.dash-Avatar {
  margin: 2rem;
}

.imageHolder {
  margin-top: 2rem;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.imageList {
  width: 15rem;
  height: 15rem;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}
